<section class="also">
    <h3 class="also__title">You Might Also Like</h3>
    <div class="also-articles">
        <article class="also-article">
            <div class="also-article__img">
                <img src="img/alsopng.png" alt="also image">
            </div>
            <div class="also-content">
                <p class="also-content__text">
                    Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and 
                    typesetting industry. Medication &quot;
                </p>
                <a href="#" class="also-content__link">Medication<span>&raquo;</span></a>
            </div>
        </article>
        <article class="also-article">
            <div class="also-article__img">
                <img src="img/alsopng.png" alt="also image">
            </div>
            <div class="also-content">
                <p class="also-content__text">
                    Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and 
                    typesetting industry. Medication &quot;
                </p>
                <a href="#" class="also-content__link">Medication<span>&raquo;</span></a>
            </div>
        </article>
        <article class="also-article">
            <div class="also-article__img">
                <img src="img/alsopng.png" alt="also image">
            </div>
            <div class="also-content">
                <p class="also-content__text">
                    Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and 
                    typesetting industry. Medication &quot;
                </p>
                <a href="#" class="also-content__link">Medication<span>&raquo;</span></a>
            </div>
        </article>
        <article class="also-article">
            <div class="also-article__img">
                <img src="img/alsopng.png" alt="also image">
            </div>
            <div class="also-content">
                <p class="also-content__text">
                    Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and 
                    typesetting industry. Medication &quot;
                </p>
                <a href="#" class="also-content__link">Medication<span>&raquo;</span></a>
            </div>
        </article>
    </div>
</section>