<section class="article">
    <div class="date">
        <div class="top">
            <span>28</span>
        </div>
        <div class="bottom">
            <span>Feb</span>
        </div>
    </div>
    <article class="avatar">
        <h2 class="avatar__title">
            Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing
        </h2>
        <p class="avatar__text">
            Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and typesetting industry. Lorem Ipsum has been the industry&rsquo;s standard dummy text ever since the 1500s,
            when an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book. It&nbsp;has survived not only five centuries, 
            but also the leap into electronic typesetting, remaining essentially unchanged. It&nbsp;was popularised in&nbsp;the 1960s with the release of&nbsp;Letraset sheets containing 
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of&nbsp;Lorem Ipsum.
        </p>
        <p class="avatar__text">
            Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and typesetting industry. Lorem Ipsum has been the industry&rsquo;s standard dummy text ever since the 1500s, 
            when an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book.
        </p>
        <div class="avatar-slider">
            <div class="avatar-slider__main">
                <img src="img/article/main.png" alt="Slider main image">
            </div>
            <ul class="avatar-slider__bottom slider-bottom list-reset">
                <li class="slider-bottom__item">
                    <img src="img/article/mini1.png" alt="Slider mini image">
                </li>
                <li class="slider-bottom__item">
                    <img src="img/article/mini2.png" alt="Slider mini image">
                </li>
                <li class="slider-bottom__item">
                    <img src="img/article/mini3.png" alt="Slider mini image">
                </li>
                <li class="slider-bottom__item">
                    <img src="img/article/mini4.png" alt="Slider mini image">
                </li>
            </ul>
        </div>
        <footer class="article-footer">
            <div class="article-footer__left footer-left">
                <p class="footer-left__item">Categorie: Movie</p>
                <div class="footer-left__img">
                    <img src="img/mail.png" alt="chat logo">
                </div>
                <p class="footer-left__item">5 Comments</p>
            </div>
            <a class="article-footer__right">Read More</a>
        </footer>
    </article>
</section>