<header class="header">
  <div class="header-top">
    <a href="#" class="header-top__logo">
      <img src="img/logo.png" alt="site logo">
    </a>
    <div class="header-top__input header-input">
      <input type="text">
      <button class="header-top__btn btn btn-reset">Search</button>
    </div>
    <div class="header-social">
      <a href="#" class="header-social__item">
        <img src="img/rss.png" alt="rss">
      </a>
      <a href="#" class="header-social__item">
        <img src="img/facebook.png" alt="facebook">
      </a>
      <a href="#" class="header-social__item">
        <img src="img/twitter.png" alt="twitter">
      </a>
    </div>
  </div>
  <div class="header-nav">
    <nav class="header-nav">
      <ul class="header-nav__list list-reset">
        <li class="header-nav__item header-nav__item--blue"><a href="#" class="header-nav__link">Home</a></li>
        <li class="header-nav__item header-nav__item--green"><a href="#" class="header-nav__link">Cinema</a></li>
        <li class="header-nav__item header-nav__item--vk"><a href="#" class="header-nav__link">Magazine</a></li>
        <li class="header-nav__item header-nav__item--blue"><a href="#" class="header-nav__link">cssauthor.com</a></li>
        <li class="header-nav__item header-nav__item--orange"><a href="#" class="header-nav__link">Topmenu</a></li>
        <li class="header-nav__item header-nav__item--red"><a href="#" class="header-nav__link">Arhives</a></li>
        <li class="header-nav__item header-nav__item--grey"><a href="#" class="header-nav__link">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
