<section class="slider">
    <h1 class="slider-title">Top Stories</h1>
    <div class="slider-wrapper">
        <span class="slider-prevbtn"></span>
        <ul class="slider-row list-reset">
            <li class="slider-item">
                <div class="slider-item__img">
                    <img src="img/slider/avatar.png" alt="avatar">
                </div>
                <div class="slider-item__title slider-item__title--blue">
                    <span class="triangle"></span>
                    <h2>Cinema</h2>
                </div>
                <p class="slider-item__text">
                    Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and typesetting
                </p>
            </li>
            <li class="slider-item">
                <div class="slider-item__img">
                    <img src="img/slider/people.png" alt="people">
                </div>
                <div class="slider-item__title slider-item__title--orange">
                    <span class="triangle"></span>
                    <h2>Travel</h2>
                </div>
                <p class="slider-item__text">
                    Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and typesetting
                </p>
            </li>
            <li class="slider-item">
                <div class="slider-item__img">
                    <img class="people" src="img/slider/stones.png" alt="stones">
                </div>
                <div class="slider-item__title slider-item__title--pink">
                    <span class="triangle"></span>
                    <h2>Television</h2>
                </div>
                <p class="slider-item__text">
                    Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and typesetting
                </p>
            </li>
        </ul> 
        <span class="slider-nextbtn"></span>   
    </div>
</section>