<section class="stories">
    <div class="stories-title">
        <h2>Top Stories</h2>
    </div>
    <nav class="stories-nav">
        <ul class="stories-nav__list list-reset">
            <li class="stories-nav__item stories-nav__item--pink"><a href="#" class="stories-nav__link">Fashion</a></li>
            <li class="stories-nav__item stories-nav__item--orange"><a href="#" class="stories-nav__link">Cinema</a></li>
            <li class="stories-nav__item stories-nav__item--blue"><a href="#" class="stories-nav__link">Television</a></li>
        </ul>
    </nav>
    <div class="stories-articles">
        <article class="stories-article">
            <div class="stories-article__img">
                <img src="img/article.png" alt="article image">
            </div>
            <div class="stories-article__content stories-content">
                <h3 class="stories-content__title">Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and typesetting</h3>
                <p class="stories-content__text">
                    Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and typesetting industry. 
                    Lorem Ipsum has been the industry&rsquo;s standard dummy text ever since the 1500s, when an&nbsp;unknown printer 
                    took a galley of type and scrambled it to make a type specimen book
                </p>
            </div>
        </article>
        <article class="stories-article">
            <div class="stories-article__img">
                <img src="img/article.png" alt="article image">
            </div>
            <div class="stories-article__content stories-content">
                <h3 class="stories-content__title">Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and typesetting</h3>
                <p class="stories-content__text">
                    Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and typesetting industry. 
                    Lorem Ipsum has been the industry&rsquo;s standard dummy text ever since the 1500s, when an&nbsp;unknown printer
                    took a galley of type and scrambled it to make a type specimen book 
                </p>
            </div>
        </article>
        <article class="stories-article">
            <div class="stories-article__img">
                <img src="img/article.png" alt="article image">
            </div>
            <div class="stories-article__content stories-content">
                <h3 class="stories-content__title">Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and typesetting</h3>
                <p class="stories-content__text">
                    Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and typesetting industry. 
                    Lorem Ipsum has been the industry&rsquo;s standard dummy text ever since the 1500s, when an&nbsp;unknown printer 
                    took a galley of type and scrambled it to make a type specimen book
                </p>
            </div>
        </article>
    </div>
</section>