// если вы хотите использовать sass-переменные - удалите root
// colors
$black: #000;
$white: #fff;
$blue: #00aedb;
$vk: #5261ac;
$orange: #f78f1d;
$pink: #ec098d;
$green: #8cc63f;
$grey: #898989;
$red: #ff0000;
$textcolor: #6a6666; 


$navsize: 19px;
